
  <div class="navbar">
    <div class="row">
      <div class="col-xs-12">
        <img class="logo" src="assets/logo.svg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Ajouter un participant</h2>
        <app-new-user-form></app-new-user-form>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Les inscrits</h2>
        <p>Mis à jour : {{ lastUpdate | async | date: 'short'}}</p>      <ul class="list-group">
          <app-user-list *ngFor="let user of users | slice:1" [userFirstname]="user.firstname" [userLastname]="user.lastname" [userBirthdate]="user.birthdate" [userAmount]="user.amount" [userAdress]="user.adress" [userZipcode]="user.zipcode" [userCity]="user.city"></app-user-list>
        </ul>
      </div>
    </div>
  </div>
